<!DOCTYPE html>
<html>
<head>
  <title>Squid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "SquidRunner", '#', id: "logo" %>
      <% if poster_signed_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   controller: '/welcome' %></li>
          <li><%= link_to "CreateTask", controller: '/createtask', action:"create" %></li>
          <li><%= link_to "OpenTasks", controller: '/opentasks', action:"show" %></li>
          <li><%= link_to "MyTasks",   controller: '/mytasks', action:"show" %></li>
          <li><%= link_to "MyProfile",   controller: '/profile', action:"show" %></li>
          <li><%= link_to 'Edit Profile',edit_poster_registration_path(@poster) %></li>
          <li><%= link_to "Dummy",   '#' %></li>
          <li><%= link_to('Logout', destroy_poster_session_path, :method => :delete) %></li>
        </ul>
      </nav>
      <% end %>
    </div>


  </header>
  <div class="container">
    <% if !poster_signed_in? %>
      <%= image_tag("squidrunner.png", :alt => "shit broke") %>
    <% end %>

    <%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     </div>

</body>
<footer class="footer">
  <small>
    The <a href="http://www.princeton.edu/~yc4">SquidMinion</a>
    by <a href="http://www.eddible.net/">Alex, Eddie and Zhengyang </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Dummy",   '#' %></li>
      <li><%= link_to "Dummy", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
</html>
